.font-eight {
    font-size: 8.775px;
}


.font-ten {
    font-size: 10.2375px;
}

.font-eleven {
    font-size: 11.7px;
}

.font-thirteen {
    font-size: 13.2375px;
}

.font-fourteen {
    font-size: 14.625px;
}

.font-sixteen {
    font-size: 16.0875px;
}
.font-seventeen {
    font-size: 17.55px;
}

.font-twentyOne {
    font-size: 21.2062px;
}

@media only screen and (max-width: 767px) {
    .small-screen{
        padding-left: 40px;
        padding-right: 40px;
    }
}
  
/* 767 */
/* body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Space Grotesk', sans-serif;
} */